.container {
    max-width: 700px;
    margin: 1rem auto;
    font-family: "Courier New", Courier, monospace;
}

.publishDate {
    color: #99afff;
    margin-right: 1rem;
}

.tags {
    color: #99afff;
}

.title {
    display: block;
    color: #dddbe6;
    font-weight: normal;
}

.excerpt {
    color: #dddbe6;
    line-height: 1.6rem;
}
