@value colors: "../../tokens/colors/colors.module.css";
@value accent, background1, background2 from colors;

.padding{
    padding: 2rem 0 2rem 0;
}

.center {
    text-align: center;
}

.backgroundColor1 {
    background-color: background1;
}

.backgroundColor2 {
    background-color: background2;
}

.colorAccent {
    color: accent;
}
