@value fontSizes: "../../tokens/typography/typography.module.css";
@value giant, big, large, medium, small from fontSizes;

.heading {
    font-weight: normal;
}

.fontSizeGiant {
    font-size: giant;
}

.fontSizeBig {
    font-size: big;
}

.fontSizeLarge {
    font-size: large;
}

.fontSizeMedium {
    font-size: medium;
}

.fontSizeSmall {
    font-size: small;
}
