.container {
    max-width: 700px;
    margin: 1rem auto 3rem auto;
    padding: 0 1rem;
    cursor: pointer;
}

.publishDate {
    color: #99afff;
    margin-right: 1rem;
}

.tags {
    color: #99afff;
}

.excerpt {
    line-height: 1.6rem;
}
