.container {
    background-color: #27232f;
    color: #dddbe6;
    font-family: "Courier New", Courier, monospace;
    padding-top: 100px;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    margin: 0 auto;
}

.header {
    font-weight: normal;
}
