@value colors: "../../tokens/colors/colors.module.css";
@value accent, accent-light, text, background from colors;

.container {
    background-color: background;
    color: text;
    font-family: "Courier New", Courier, monospace;
    padding: 2rem 0 2rem 0;
    text-align: center;
}

.title {
    font-weight: normal;
    font-size: 22px;
}

.link {
    color: accent;
}

.link:hover {
    color: accent-light;
}
