@value colors: "../../tokens/colors/colors.module.css";
@value accent, accent-light, text, background from colors;

.container {
    background-color: background;
    padding: 2rem 0 2rem 0;
    text-align: center;
}
