name: Release
on:
  push:
    branches:
      - main

permissions:
  # For checking out the repository
  contents: read
  # For caching
  actions: write
  # For configuring AWS credentials
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: blog
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Cache pnpm dependencies
        uses: actions/cache@v3
        with:
          path: common/temp/pnpm-store
          key: ${{ runner.os }}-pnpm-v1-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      - name: Install Packages
        run: node ../common/scripts/install-run-rush.js install
      - name: Build
        run: node ../common/scripts/install-run-rush.js build --from git:${{ github.event.before }}
      - name: Test
        run: node ../common/scripts/install-run-rush.js test --impacted-by git:${{ github.event.before }}
      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::112125362830:role/GithubDeploymentRole
          role-session-name: GitHubDeploymentSession
          aws-region: eu-central-1
      - name: Release
        run: node ../common/scripts/install-run-rush.js release --impacted-by git:${{ github.event.before }}
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
